body {
  background-color: black;
}
:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}
button {
  padding: 10px 30px;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  color: #ffffff;
}
/*navigation part editing*/
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
  padding-top: 15px;
}
li {
  display: inline;
  list-style: none;
}
li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 20px;
}
li a:hover {
  border-bottom: 2px solid var(--main-color);
}
/*section editing part*/
.section {
  background: url(maya.png);
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  text-align: center;
}
.start {
  position: absolute;
  font-size: 4rem;
  top: 7rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}
.with {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -30px;
}
.button {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background: transparent;
  background: var(--main-color);
  transform: translateY(60px);
}
.our-story {
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 400px;
  height: 400px;
  background: url(4655f57a3c34378a554d0a00416ab77c.jpg);
  background-position: center;
  background-size: cover;
}
.title-style {
  display: flex;
  align-items: center;
}
.title {
  font-family: sans-serif;
  font-size: 4rem;
  color: #fff;
  transform: translateX(-60px);
}
.line {
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-120px);
}
.section-content p {
  max-width: 500px;
  color: #fff;
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0px;
}
.coffee-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.img-2 {
  width: 400px;
  height: 400px;
}
.title-two {
  font-size: 3rem;
  color: #fff;
  font-size: sans-serif;
  font-weight: normal;
  background: url();
  background-position: center;
  background-size: cormal;
}
.content-section p {
  max-width: 500px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #fff;
}
.products {
  margin-top: 5rem;
}
.title-three {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card {
  border: 2px solid var(--main-color);
  padding: 0px 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
}
.card-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
  border: 2px solid var(--main-color);
}
.img-one {
  background: url(639b0874b7c1227a6c98cbeae656eba0.jpg);
  background-position: center;
  background-size: cover;
}
.img-two {
  background: url(72c673a99dad8b320aa54b406594a8b5.jpg);
  background-position: center;
  background-size: cover;
}
.img-three {
  background: url(3e9cf692536b788679323c1d5bd04028.jpg);
  background-position: center;
  background-size: cover;
}
.card-title {
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
}
.items p {
  color: #fff;
  margin: 20px;
  font-family: sans-serif;
}
footer {
  height: 50vh;
  display: flex;
  color: #fff;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}
footer.heading-info {
  margin-bottom: 20px;
}
footer p {
  line-height: 25px;
}
span {
  color: var(--main-color);
}
hr {
  margin-bottom: 20px;
  border: var(--main-color);
  width: 500px;
  margin: 0 auto;
}
.para {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}
@media only screen and(max-width:768px) {
  .start,
  width {
    font-size: 2.5rem;
  }
  #our-story {
    text-align: center;
  }
  #our-story.title {
    transform: translateX(50px);
  }
  .our-story.line {
    display: none;
  }
  .content-section {
    text-align: center;
  }
  #our-story.img-container.img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .coffee-container.img-container {
    margin-top: 5rem;
    width: 50%;
  }
  .title {
    margin: 0 auto;
  }
  .title-two {
    margin: 0 auto;
  }
  #mayam {
    color: #ffffff;
    width: 3rem;
  }
}
